and==66.0.2
asgiref==3.6.0
attrs==22.2.0
autobahn==23.1.1
Automat==22.10.0
boto3==1.28.1
botocore==1.31.1
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
charset-normalizer==3.0.1
constantly==15.1.0
crispy-bootstrap4==2022.1
cryptography==39.0.0
daphne==4.0.0
distlib==0.3.6
dj-database-url==2.0.0
Django==4.1.5
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-crispy-forms==2.0
django-extensions==3.2.1
django-filter==22.1
django-froala-editor==4.0.17
django-heroku==0.3.1
django-js-asset==2.0.0
django-rest-auth==0.9.5
django-s3direct==2.0.3
djangorestframework==3.14.0
fcm-django==1.0.12
filelock==3.9.0
firebase-admin==5.4.0
gevent==22.10.2
google-api-core==2.11.0
google-api-python-client==2.76.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.9.1
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
greenlet==2.0.2
grpcio==1.51.1
grpcio-status==1.51.1
gunicorn==20.1.0
heroku==0.1.4
httplib2==0.21.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
jmespath==1.0.1
msgpack==1.0.4
mysqlclient==2.1.1
Pillow==9.4.0
platformdirs==2.6.2
proto-plus==1.22.2
protobuf==4.21.12
psycopg2==2.9.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==23.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
rsa==4.9
s3transfer==0.6.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.4.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.14
virtualenv==20.17.1
websocket==0.2.1
whitenoise==6.5.0
zope.event==4.6
zope.interface==5.5.2

