<!DOCTYPE html>
<html>
<head>
    <title>Highlight</title>
    <!-- You can add your CSS files here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    {% block content %}
    <!-- This block will be overridden by each individual template -->
    {% endblock %}

    <footer>
        <!-- Common footer elements go here -->
    </footer>
</body>
</html>

