{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Highlight</title>
    <!-- You can add your CSS files here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="content-wrapper">
        {% block content %}
        <!-- This block will be overridden by each individual template -->
        {% endblock %}
    </div>
    

    <footer>
        <!-- Common footer elements go here -->
    </footer>

    <!-- Extra JavaScript Files -->
    {% block extra_js %}{% endblock %}
</body>
</html>



