{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Friend Requests</h2>
  {% for friend_request in friend_requests %}
    <div class="friend-request" id="friend-request-{{ friend_request.id }}">
      <p>{{ friend_request.from_profile.user.username }} wants to be your friend.</p>
      <button onclick="handleFriendRequestResponse('{{ friend_request.id }}', 'accept')">Accept</button>
      <button onclick="handleFriendRequestResponse('{{ friend_request.id }}', 'decline')">Decline</button>
    </div>
  {% empty %}
    <p>You have no friend requests.</p>
  {% endfor %}
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/profile_info.js' %}"></script>
{% endblock %}



