{% extends "base.html" %}

{% block content %}
<h1>Friend Requests</h1>

{% for friend_request in friend_requests %}
    <div class="friend-request">
        <p>
            {{ friend_request.from_user.username }} wants to be friends.
            <a href="{% url 'accept_friend_request' friend_request.id %}">Accept</a>
            |
            <a href="{% url 'decline_friend_request' friend_request.id %}">Decline</a>
        </p>
    </div>
{% empty %}
    <p>No friend requests.</p>
{% endfor %}

{% endblock %}
