{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Welcome back!</h1>

  <!-- Link to the CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

  <!-- Display messages -->
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if can_post %}
  <div class="post">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.text }}
      {{ form.image }}
      <button type="submit">Submit</button>
    </form>
  </div>
  {% endif %}

  <h2>Here are the posts:</h2>

  {% for post in posts %}
  {% include 'post.html' with post=post show_like_button=True %}

  {% endfor %}
{% endblock %}







