{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <p>Email: <input type="email" name="email" required></p>
    <p>Password: <input type="password" name="password" required></p>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <button type="submit">Login</button>
  </form>
{% endblock %}

