{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<nav>
    <!-- Add the "highlight" text/icon here -->
    <div class="nav-icon">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/Highlight_logo_TransparentBackground.png' %}" alt="Highlight Logo">
        </a>
    </div>

    <div id="search" class="search">
        <!-- Make the search bar visible only if the user is authenticated -->
        {% if request.user.is_authenticated %}
            <input id="search-input" type="text" placeholder="Search users..." autocomplete="off">
            <div id="search-results"></div>
        {% endif %}
    </div>

    <!-- Hamburger menu is only visible if the user is authenticated -->
    {% if request.user.is_authenticated %}
        <div class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign up</a>
        </div>
    {% endif %}

    <div class="navbar-links" id="navbar-links">
        <!-- Navigation links go here -->

        <!-- Check if user is authenticated -->
        {% if request.user.is_authenticated %}
            <!-- Links to show when the user is logged in -->
            <a href="{% url 'view_profile' request.user.username %}">Profile</a>
            <a href="{% url 'view_friend_requests' %}">Friend Requests</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
</nav>

<!-- Load the navbar.js -->
<script src="{% static 'js/navbar.js' %}" defer></script>








