{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<nav>
    <!-- Navigation links go here -->
    <a href="/">Home</a>

    <!-- Check if user is authenticated -->
    {% if request.user.is_authenticated %}
        <!-- Links to show when the user is logged in -->
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'view_profile' request.user.username %}">Profile</a>
        <div id="search">
            <input id="search-input" type="text" placeholder="Search users..." autocomplete="off">
            <div id="search-results"></div>
        </div>

    {% else %}
        <!-- Links to show when the user is not logged in -->
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Sign up</a>
    {% endif %}

    <!-- Add more links as needed -->
</nav>

<!-- Load the navbar.js -->
<script src="{% static 'js/navbar.js' %}" defer></script>




