{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<nav>
    <!-- Add the "highlight" text/icon here -->
    <div class="nav-icon">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/Highlight_logo_TransparentBackground.png' %}" alt="Highlight Logo">
        </a>
    </div>

    <div id="search" class="search">
        <!-- Make the search bar visible only if the user is authenticated -->
        {% if request.user.is_authenticated %}
            <input id="search-input" type="text" placeholder="Search users..." autocomplete="off">
            <div id="search-results"></div>
        {% endif %}
    </div>

    <!-- Hamburger menu is only visible if the user is authenticated -->
    {% if request.user.is_authenticated %}
        <div class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign up</a>
        </div>
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="nav-icons">
        <a href="{% url 'home' %}" class="active">
            <img src="{% static 'images/' %}{% if active_page == 'home' %}filled_home_icon.png{% else %}home_icon.png{% endif %}" alt="Home Icon">

        </a>
        <a href="{% url 'view_friend_requests' %}" class="{% if active_page == 'view_friend_requests' %}active{% endif %}">
            <img src="{% static 'images/' %}{% if active_page == 'view_friend_requests' %}filled_friendrequests_icon.png{% else %}friendrequests_icon.png{% endif %}" alt="Friends Icon">
        </a>
        <a href="{% url 'view_profile' request.user.username %}" class="{% if active_page == 'view_profile' %}active{% endif %}">
            <img src="{% static 'images/' %}{% if active_page == 'view_profile' %}filled_highlighter_icon.png{% else %}highlighter_icon.png{% endif %}" alt="Notifications Icon">
        </a>
        <a href="{% url 'view_profile' request.user.username %}" class="{% if active_page == 'view_profile' %}active{% endif %}">
            <img src="{{ request.user.profile.image.url }}" alt="Profile Icon" class="avatar{% if active_page == 'view_profile' %} avatar-active{% endif %}">
        </a>
    </div>
    {% endif %}

    
</nav>

<!-- Load the navbar.js -->
<script src="{% static 'js/navbar.js' %}" defer></script>










