{% load static %}

{% block content %}
    <div class="profile-info">
        <img src="{{ profile.image.url }}" alt="Profile picture" class="profile-avatar">
        <div class="profile-detail">
            <h2 class="username">{{ user.username }}</h2>
            <p class="full-name">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="profile-location">Location: {{ profile.location }}</p>
            <p class="profile-bio">Bio: {{ profile.bio }}</p>
        </div>
        {% if user == request.user %}
            <a href="{% url 'edit-profile' %}" id="edit-profile-button" class="button">Edit Profile</a>
        {% endif %}

    </div>

    <div id="edit-profile-overlay" class="modal">
        <!-- Modal content -->
        <div id="edit-profile-content" class="modal-content">
            <span id="close-button">&times;</span>
            <!-- Form content will be injected here -->
        </div>
    </div>
    
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile_info.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/profile_info.js' %}"></script>
  <script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}





