{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="form-container">
  <h2>Register</h2>
  <form method="post" enctype="multipart/form-data" id="signupForm" class="signup-form">
    {% csrf_token %}
    <div id="page1" class="signupPage">
      <p><input type="email" name="email" id="email" required placeholder="Email" class="input-field"></p><p id="error-email"></p>
      <p><input type="password" name="password1" id="password1" required placeholder="Password" class="input-field"></p>
      <p id="error-password"></p>
      <p><input type="password" name="password2" id="password2" required placeholder="Confirm Password" class="input-field"></p>
      <p id="error-password2"></p>
      <button type="button" id="next1" class="btn-submit">Next</button>
    </div>

    <div id="page2" class="signupPage" style="display: none;">
      <p><input type="text" name="username" id="username" placeholder="Username (Optional)" class="input-field"></p><p id="error-username"></p>
      <button type="button" id="next2" class="btn-submit">Next</button>
    </div>

    <div id="page3" class="signupPage" style="display: none;">
      <p><input type="text" name="first_name" id="first_name" placeholder="First Name" class="input-field"></p><p id="error-first_name"></p>
      <p><input type="text" name="last_name" id="last_name" placeholder="Last Name" class="input-field"></p><p id="error-last_name"></p>
      <p>Image: {{ p_form.image }}</p><p id="error-image"></p>
      <p>Location: {{ p_form.location }}</p><p id="error-location"></p>
      <p>Bio: {{ p_form.bio }}</p><p id="error-bio"></p>
      <button type="submit" id="submit" class="btn-submit">Submit</button>
    </div>
  </form>
</div>




  <script>
    window.onload = function() {
  
  function nextPage(pageNumber) {
    var pages = document.getElementsByClassName('signupPage');
    for(var i=0; i<pages.length; i++){
        pages[i].style.display = "none";
    }
    document.getElementById('page' + pageNumber).style.display = "block";
  }
  
  document.getElementById("next1").addEventListener('click', function(event) {
    event.preventDefault();
    var email = document.getElementsByName('email')[0].value;
    var password1 = document.getElementsByName('password1')[0].value;
    var password2 = document.getElementsByName('password2')[0].value;

    var errorEmail = document.getElementById('error-email');
    var errorPassword = document.getElementById('error-password');
    var errorPassword2 = document.getElementById('error-password2');

    // Clear previous errors
    errorEmail.innerText = '';
    errorPassword.innerText = '';
    errorPassword2.innerText = '';

    // Check if email is empty
    if (!email) {
        errorEmail.innerText = 'This field is required.';
        return;
    }

    // Check if email is valid
    var re = /\S+@\S+\.\S+/;
    if (!re.test(email)) {
        errorEmail.innerText = 'Please enter a valid email.';
        return;
    }

    // Check if email already exists
    fetch('/check_email/?email=' + email)
    .then(response => response.json())
    .then(data => {
        if (data.is_taken) {
            errorEmail.innerText = 'This email is already registered.';
            return;
        } else {
            // Check if password1 is empty
            if (!password1) {
                errorPassword.innerText = 'This field is required.';
                return;
            }

            // Check if confirm password is empty
            if (!password2) {
                errorPassword2.innerText = 'This field is required.';
                return;
            }

            // Check if passwords match
            if (password1 !== password2) {
                errorPassword2.innerText = 'Passwords do not match.';
                return;
            }

            // If no errors, go to next page
            nextPage(2);
        }
    });
  });

  document.getElementById("next2").addEventListener('click', function(event) {
    event.preventDefault();
    nextPage(3);
  });

  document.getElementById("signupForm").addEventListener('submit', function(event) {
    event.preventDefault();
    var form = document.getElementById("signupForm");
    var formData = new FormData(form);

    // add the password field
    formData.set('password', formData.get('password1'));

    for(var pair of formData.entries()) {
      console.log(pair[0] + ', ' + pair[1]);
    }

    fetch('/register/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        credentials: 'same-origin'
    }).then(response => response.json()).then(data => {
        if (data.errors) {
            console.log(data.errors);
            for (var key in data.errors) {
                var errorField = document.getElementById('error-' + key);
                if (errorField) {
                    errorField.innerText = data.errors[key];
                }
            }
        } else {
            // No errors, form has been submitted
            // Redirect to the home view
            window.location.href = data.redirect;
        }
    }).catch(error => {
        console.error('Error:', error);
    });
  });
};

  </script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}
















