body > div.content-wrapper {
    height: calc(100% - 120px); /* Consider navbar height, update accordingly */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
}


