header, footer {
    z-index: 2;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* search.css */

#search-results {
    display: none;
    max-height: 600px;
    overflow: auto;
    width: 350px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 0; /* remove padding from here */
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}

#search {
    position: relative;
    width: 320px;
    margin-left: auto;
}

#search-input {
    width: 350px;
    margin-right: 10px;
}

.search-results {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer; /* Change the cursor when hovering over a search result */
    transition: background-color 0.3s; /* Add transition for a smooth color change */
    padding: 20px; /* Add padding here */
}

.search-results:hover {
    background-color: #f2f2f2; /* Change the background color on hover */
}

.search-results .profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.search-results .username-container a,
.search-results .username-container p {
    color: black;
    margin: 0;
    line-height: 1.2;
}

.search-results .username-container a {
    font-size: 18px;
    text-decoration: none; /* Remove underline */
}

.search-results .username-container p {
    font-size: 14px;
    font-weight: bold;
}

.user-detail-container {
    display: flex;
    align-items: center;
}





