body > div.content-wrapper {
  height: calc(100% - 120px); /* Consider navbar height, update accordingly */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px; /* Adjust this value as per your need */
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-form .signupPage p {
  margin-bottom: 20px;
}

.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#error-email,
#error-password,
#error-password2,
#error-username,
#error-image,
#error-location,
#error-bio {
  color: red;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-submit:hover {
  background-color: #0056b3;
}
  