html, body {
    height: 100vh;
    margin: 0;
    background-color: white;
    overflow: hidden;
}

body > div.content-wrapper {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
}

.row-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.row-right, .row-left {
    height: calc(100% / 18);
    box-sizing: border-box; 
    background: white;
}

.row-right {
    background: linear-gradient(270deg, white 50%, yellow 50%);
    background-size: 200% 100%;
    background-position: right;
}

.row-left {
    background: linear-gradient(90deg, white 50%, yellow 50%);
    background-size: 200% 100%;
    background-position: left;
}

.content {
    position: relative;
    z-index: 2;
    padding: 2em;
    max-width: 80%;
    text-align: center;
}

@keyframes sweep-right {
    0% { background-position: right; }
    100% { background-position: left; }
}

@keyframes sweep-left {
    0% { background-position: left; }
    100% { background-position: right; }
}

.sweep-right {
    animation: sweep-right 2s forwards;
}

.sweep-left {
    animation: sweep-left 2s forwards;
}

/* Default style for larger screens */
h1 {
    font-size: 60px;
}

/* Style for screens with max-width of 600px */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}

.highlight-title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.auth-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}


































